{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    }
  },
  "plugins": [
    "react",
    "react-hooks",
    "import",
    "@typescript-eslint",
    "html",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "paths": [
          "./src"
        ]
      }
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types":"off",
    "@typescript-eslint/no-empty-interface": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          [
            "builtin",
            "external",
          ],
          [
            "internal"
          ],
          [
            "parent",
            "sibling",
            "index",
            "unknown"
          ]
        ],
        "pathGroups": [
          {
            "pattern": "react**",
            "group": "external",
            "position": "before"
          }
        ],
        "newlines-between": "always"
      }
    ]
  }
}